@media screen and (min-width: 585px)  {
    

/*TABLET VERSION*/


body {
    min-height: 100vh;
    font-family: var(--font-main);
    font-weight: var(--light);
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--second-color);

}


/* LOGO */

.wrapper-logo {

    width: 287px;
    height: 78px;

    svg{
        width: 100%;
        height: 100%;

        path#path2,
        path#path3,
        path#path4,
        path#path5,
        path#path6,
        path#path7,
        path#path1 {
            fill: white;
            opacity:0.98;
            stroke:var( --fourth-color);
            stroke-width:1;
            stroke-opacity:1;
        }
    
    }

}


/* THREE BUTTONS */


.wrapper-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 236px;
    overflow: hidden;
    height: auto;


    button{
        background-color: transparent;
        width: 60px;
        height: 60px;

    svg{ 
            width: 100%;
            height: 100%;
        }
    }



}


/* NUMBER */

.wrapper-number{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: clamp(387px, calc(100vh - 637px), 494px );
    width: 80%;
    overflow: hidden;

    .number{
        text-align: center;
        font-size: 450px;
        
    
    }

}



/*MINUS-PLUS BUTTONS*/


.wrapper-minus-plus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 341px;

    .minus{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px black solid;

        svg{
            width: 38px;
        }
        
    }


    .plus{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px black solid;

        svg{
            width: 45px;
            height: 45px;
        }
    }
}




/* RESET DOMANDA*/


.popup-reset{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.199);
    z-index: 1000;

}

.reset-question{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--third-color);
    z-index: 1001;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.199);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    width: clamp(200px, calc(100vw - 120px), 250px);
    border-radius: 10px;


    .btn-si{
        font-size: 20px;
        background-color: transparent;
    }

    .btn-no{
        font-size: 20px;
        background-color: transparent;
    }


}




.popup-info{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.199);
    z-index: 1000;


    .info-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--third-color);
    z-index: 1001;
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.199);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    width: clamp(200px, calc(100vw - 120px), 250px);
    border-radius: 10px;

    }
}

#x-btn{

    width: 20px;

}








}